/* Custom Block Note */
.bn-editor {
	@apply px-2 md:px-4;
}
.bn-editor h1 {
	@apply text-xl md:text-2xl;
}

.bn-editor h2 {
	@apply text-lg md:text-xl;
}

.bn-editor h3 {
	@apply text-base md:text-lg;
}

.bn-editor p {
	@apply text-sm md:text-base;
}
